#outer {
  display: block;
  position: relative;
}

/* works on firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d3d3d3;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* *::-webkit-scrollbar-track {
  background: white;
} */

*::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 20px;
}

div.triangle {
    overflow: auto;
    white-space: nowrap;
    width: 76%;
    height: 85%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translateY(-50%);
    text-align: center;
}

div.triangle::-webkit-scrollbar {
      width: thin;
    }

div.row {
    position: relative;
    height: 4.75vh;
    text-align: center;
    z-index: -1;
    white-space: nowrap;
    display: flex;
    width: min-content;

}

div.elem {
    border: 1px solid #e1c2c2;
    width: 11vh;
    height: 80%;
    display: inline-block;
    position: relative;
}

div.elem pre {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    margin: 0;
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
}

div.elem pre:hover {
    overflow: visible;
    background-color: rgb(217, 200, 200);
    width: min-content;
    height: min-content;
    z-index: 100;
    font-size: 150%;
}

button.mybutton {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 7px;
  position: relative;
  z-index: 100;

}

button.binterface {
  width: 36%;
  border: hidden;
}

button.binterface:hover {
  opacity: 75%;
}

button.binterface:active {
  opacity: 85%;
}

select.mymenu {
  border: hidden;
  width: 36%;
}

select.mymenu:hover {
  opacity: 75%;
}

select.mymenu:active {
  opacity: 85%;
}

div.interface {
  position: relative;
  width: 100%;
  margin-top: 5px;
}

div.intcontainer {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 5px;
}

#download_button {
  position: absolute;
  top: 7;
  right: 7;
}

#download_button:hover {
  opacity: 75%;
  stroke: #164ed5;
}

#download_button:active {
  opacity: 95%;
}

span.hint {
  visibility: hidden;
  position: absolute;
  background-color: #f4dada;
  color: black;
  text-align: center;
  padding: 2px 6px;
  border-radius: 6px;
  bottom: 4px;
  left: 3px;
  float: none;
}

span.hint:hover {
  opacity: 75%;
}

span.hint:active {
  opacity: 85%;
}

span.idx {
  float: none;
  position: absolute;
  left: 3px;
  top: 0px;
  font-size: 8px;
  width: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

span.idx:hover {
  background-color: rgb(255, 255, 255);
  overflow: visible;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(196, 230, 209);
  width: auto;
  height: auto;
  z-index: 100;
  font-size: 110%;
}

span.pbc {
  position: absolute;
  bottom: 0px;
  right: 2px;
  font-size: 8px;
  width: 40%;
  text-overflow: ellipsis;
  text-align: right;
  overflow: hidden;
}

span.pbc:hover {
  background-color: rgb(255, 255, 255);
  overflow: visible;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(88, 191, 208);
  width: auto;
  height: auto;
  z-index: 100;
  font-size: 110%;
}

input.lookup {
  width: 50px;
}

div.output {
  width: 100%;
  overflow-x: auto;
  text-overflow: ellipsis;
  height: 30px;
  white-space: nowrap;
}

div.output pre {
  display: inline;
}
