#outer {
  display: block;
  position: relative;
}
div.triangle {
    overflow: auto;
    white-space: nowrap;
    width: 70%;
    height: 85%;
    margin: 0 auto;
    scrollbar-width: thin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    text-align: center;
}

div.row {
    position: relative;
    height: 4.761904761904762%;
    text-align: center;
    z-index: -1;
    white-space: nowrap;
    display: flex;
    width: min-content;
}

div.elem {
    border: 1px solid #e1c2c2;
    width: 80px;
    height: 80%;
    display: inline-block;
    position: relative;
}

div.elem pre {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    margin: 0;
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
}

div.elem pre:hover {
    position: absolute;
    overflow: visible;
    background-color: rgb(217, 200, 200);
    width: min-content;
    height: min-content;
    z-index: 100;
    font-size: 150%;

::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }
}

button.mybutton {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 7px;
  position: relative;
  z-index: 100;

}

button.binterface {
  width: 125px;
  border: hidden;
}

button.binterface:hover {
  opacity: 75%;
}

select.mymenu {
  border: hidden;
  width: 125px;
}

select.mymenu:hover {
  opacity: 75%;
}

div.interface {
  position: relative;
  width: 350;
  margin-top: 5px;
}

div.intcontainer {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 5px;
}

#anim_speed {
  position: absolute;
  top: 50%;
  transform: translate(0%, -60%);
}

span.idx {
  float: none;
  position: absolute;
  left: 3px;
  top: 0px;
  font-size: 8px;
  width: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

span.idx:hover {
  background-color: rgb(255, 255, 255);
  overflow: visible;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(196, 230, 209);
  width: auto;
  height: auto;
  z-index: 100;
  font-size: 110%;
}

span.pbc {
  position: absolute;
  bottom: 0px;
  right: 2px;
  font-size: 8px;
  width: 40%;
  text-overflow: ellipsis;
  text-align: right;
  overflow: hidden;
}

span.pbc:hover {
  background-color: rgb(255, 255, 255);
  overflow: visible;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(88, 191, 208);
  width: auto;
  height: auto;
  z-index: 100;
  font-size: 110%;
}
